:root {
    --green-500: #3c8067ff;
    --green-700: #1b4133ff;
    --black: #1c232bff;
    --grey: #6c7289ff;
    --cream: #f2ebe3ff;
    --white: #ffffffff;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--cream);
    height: 100vh;
    box-sizing: border-box;
}

main {
    height: calc(100vh - 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-card {
    background-color: var(--white);
    border-radius: 0.75rem;
    overflow: hidden;
    width: 90%;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 25px var(--grey);
}


.product-image {
    overflow: hidden;
}

.product-image img {
    width: 100%;
    height: 100%;
    transition: all 300ms ease-in-out;
}

.product-image img:hover {
    transform: scale(1.2);
}

.mobile-image {
    display: block;
}

.desktop-image {
    display: none;
}

.card-body {
    padding: 2rem;
}

.product-category,
.product-description,
.sale-price {
    color: var(--grey);
    font-family: "Montserrat", sans-serif;

}

.product-category {
    text-transform: uppercase;
    margin: 0;
    font-size: 0.8rem;
}

.product-title,
.price {
    font-family: "Fraunces", serif;
}

.product-title {
    color: var(--black);

    margin-top: 0.5rem;
    font-size: 1.7rem;
}

.product-price {
    display: flex;
    align-items: center;
}

.price {
    padding: 0 1rem;
    color: var(--green-500);
}

.sale-price {
    text-decoration: line-through;
    font-size: 0.8rem;
}

.add-to-cart {
    display: block;
    background-color: var(--green-500);
    border: 1px solid var(--green-500);
    color: var(--white);
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
    transition: all 300ms ease-in-out;
}

.add-to-cart:hover {
    background-color: var(--white);
    color: var(--green-500);
}


@media(min-width: 576px) {
    .mobile-image {
        display: none;
    }

    .desktop-image {
        display: block;
    }

    .product-image {
        flex-basis: 50%;
        min-width: 50%;
    }

    .product-card {
        flex-direction: row;

    }

}

@media(min-width: 768px) {
    .product-card {
        width: 70%;

    }
}

@media(min-width: 1200px) {
    .product-card {
        width: 50%;

    }
}

@media(min-width: 1400px) {
    .product-card {
        width: 33%;

    }
}

@media (prefers-reduced-motion: reduce) {
    .product-image img {
        transition: none;
    }
}